<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ przepis.nazwa }}</title>
</head>
<body>
    <h1>{{ przepis.nazwa }}</h1>

    <!-- Wyświetl treść przepisu -->
    <p>Treść przepisu:</p>
    <p>{{ przepis.tresc }}</p>

    <!-- Wyświetl składniki przepisu -->
    <p>Składniki:</p>
    <p>{{ przepis.skladniki }}</p>

    <!-- Przycisk "Powrót" przenoszący użytkownika z powrotem do strony głównej -->
    <a href="/">Powrót</a>
</body>
</html>